@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face{
    font-family: "Booter - Zero Zero";
    src: url("fonts/Booter - Zero Zero.woff") format("woof"),
         url("fonts/Booter - Zero Zero.woff2") format("woof2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html body{
    padding: 0;
    margin: 0;
}

.nav li{
    display: inline;
}

.nav ul{
    margin: 0;
}

.nav a{
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover{
    background-color: rgba(255, 255, 255, .3);
}

.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav li{
    padding: 0 5%;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.band-name-large{
    font-size: 6em;
}

section h2, .blue {
    color: blue;
}

h2 {
    color: rgba(red, green, 255, 1);
}

.main-header{
    background-color: rgba(0,0,0,.6);
    background-image: url(Images/background-header.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.content-section{
    margin: 1em;
}

.container{
    margin: 0 auto;
    max-width: 900px;
    padding: 0 1.5em;
}

.section-header{
    font-family: "Metal Mania";
    font-weight: normal;
    text-align: center;
    color: #333;
    font-size: 2.5em;
}

.about-band-image{
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer{
    background-color: #0ebeee;
    color: white;
    padding: .25em 0;
}

.main-footer-container{
    display: flex;
    align-items: center;
}

.main-footer-container ul{
    flex-grow: 1;
    text-align: end;
}

.footer-nav li{
    padding: 0 0.5em;
}

.footer-nav img{
    width: 30px;
    height: 30px;
}